.topHeader {
 background: #3e3e3e;
}

.topHeader ul {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
}

.topHeader ul li {
 list-style: none;
 padding: 10px;
}
