@media screen and (min-width: 768px) {
        .topHeader {
         background: #3e3e3e;
        }
        
        .menu-content {
            display: none;
        }
        
        .topHeader ul {
         display: flex;
         flex-direction: row;
         justify-content: flex-end;
         align-items: center;
        }
        
        .topHeader ul a {
            padding: 5px;
        }
        
        .topHeader ul li {
         list-style: none;
         padding: 10px;
        }
        
        .topHeader ul li a {
         text-decoration: none;
         color: white;
         font-family: "lato", sans-serif;
         font-size: 20px;
         font-weight: 700;
        }
        
        .topHeader ul li a:hover {
         color: #ec5242;
        }
        
        .topHeader ul li a i {
         margin-right: 5px;
        }
        
        .topHeader ul a:hover {
         color: blue;
        }
        
        .desktopBar {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: flex-start;
        }
        
        .desktopBar .logo {
        margin-top: 10px;
        }
        
        .desktopBar .logo img {
         width: 80%;
         height: 50px;
        }
        
        .desktopBar ul {
         display: flex;
         flex-direction: row;
         gap: 1rem;
         padding: 20px;
        }
        
        .desktopBar ul li {
            list-style: none;
        }
        
        .desktopBar ul li a {
         text-decoration: none;
         color: #3e3e3e;
         font-family: "lato", sans-serif;
         font-size: 20px;
         font-weight: 700;
         transition: color 0.3s, transform 0.3s;
        }
        
        .desktopBar ul li a:hover {
         color: #ec5242;
         transform: scale(1.1);
        }
        
        .desktopBar ul li:last-child a {
            color: #ec5242;
            font-weight: bold;
            padding: 5px;
            border: 4px solid #ec5242;
            border-radius: 5px;
        }
    }

    @media only screen and (max-width: 767px) {
        .container {
            display: none;
          }
    }
    
    /***** Main content *****/
    @media screen and (min-width: 768px) {
    .main {
        background: url(./resources/Background/Mobilebackground.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0 0 10px;
        width: 100%;
        height: 60vh;
    }

    .introContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    }

    .content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    }

    .content h1 {
        display: none;
    }

    .content h2 {
    font-size: 40px;
    font-weight: 700;
    }

    .content p {
        font-size: 25px;
        font-weight: 400;
    }
    
    .content h3 {
        font-size: 30px;
        font-weight: 700;
    }
    
    .content h4 {
        font-size: 20px;
        font-weight: 700;
    }

    .content h3 a {
        font-size: 24px;
        margin-top: 10px;
    }
    }

    /***** Logo *****/

    @media screen and (min-width: 768px) {
        .festLogoHeading h3 br {
            display: none;            
        }

        .festLogoHeading h3 {
            font-size: 40px;
        }

        .festLogoHeading p {
            font-size: 20px;
        }

        .festBottomUnderline {
            padding-top: 100px;
        }

        .pastHeading h3 {
            font-size: 40px;
        }

        .pastHeading p {
            font-size: 20px;
        }

        .pastEvents {
            display: flex;
            flex-direction: row;
        }

        .footer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 20px;
            align-content: center;
            align-items: center;
            flex-wrap: wrap
        }

        .footer h6 {
            font-size: 30px
        }

        .footer p {
            font-size: 30px
        }