@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/***** Main content *****/
.main {
  background: url(./resources/Background/Mobilebackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0 0 10px;
  width: 97%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
  text-align: center;
}

.content h1,
.content h2,
.content h3,
.content p {
  text-align: center;
}

.content h1 {
  font-family: "cocogoose", sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #ec5242;
  margin-bottom: 15px;
}

.content h2 {
  font-family: "cocogoose", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #ec5242;
  margin-bottom: 15px;
}

.content p {
  font-family: "lato", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: black;
  background-color: #fff;
  border: 4px solid #fff;
  margin-right: 15px;
  margin-top: 15px;
  padding: 10px;
}

.content h3 {
  position: relative;
  font-family: "lato", sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.content h3 a {
  font-family: "lato", sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #272a31;
  text-decoration: none;
}

/***** Fest Logo *****/
.festLogoHeading h3 {
  font-family: "lato", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.underLine {
  border-bottom: 2px solid #ec5242;
  width: 15%;
  padding-top: 10px;
  margin: 0 auto;
}

.festLogoHeading p {
  font-family: "lato", sans-serif;
  color: #838383;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  width: 99%;
}

.festLogoImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.festLogoImg img {
  width: 80%;
  border: 1.5px solid #d3d3d3;
  margin-top: 50px;
  padding: 30px;
}

.festBottomUnderline {
  border-bottom: 2px solid #d3d3d3;
  width: 100%;
  padding-top: 50px;
}

.pastProgram {
  margin-top: 50px;
}

.pastHeading h3 {
  font-family: "lato", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.pastHeading p {
  font-family: "lato", sans-serif;
  color: #838383;
  font-weight: 500;
  text-align: center;
  padding: 10px;
}

.pastUnderline {
  border-bottom: 2px solid #ec5242;
  width: 30%;
  padding-top: 10px;
  margin: 0 auto;
}

.pastEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 25px;
}

/***** Sponsors *****/
.sponsors {
  margin-top: 50px;
  background: #272a31;
}

.sponsors h3 {
  font-family: "lato", sans-serif;
  color: #d3d3d3;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

.sponsorCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 25px;
}

.sponsorCards img {
  width: 30%;
  height: 70px;
  object-fit: contain;
  margin-bottom: 50px;
}

/***** Footer *****/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5rem;
}

.footer img {
  width: 20%;
  vertical-align: middle;
}

.footer h6 {
  font-family: "lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #272a31;
  margin: 0;
  padding-left: 10px;
}

.footer p {
  font-family: "lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #272a31;
  margin-left: 10px;
  padding: 0 0 0 40px;
}

/* ***** mobilemenu *****/
.menuItem {
  display: none;
  text-align: center;
}

.menu-content.show .menuItem {
  display: block;
}

.menu-content.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
}

.menu-content.show ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.menu-content.show ul li {
  margin: 20px 0 30px 0;
  padding: 0;
}

.menu-content ul li.menuItem a {
  text-decoration: none;
  color: black;
  font-family: "lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.menu-content ul li.menuItem a:hover {
  color: #ec5242;
}

.menu-content.show .hamburger {
  display: none;
}

.menu-content .close-button {
  display: none;
}

.menu-content.show .close-button {
  display: block;
  position: relative;
  cursor: pointer;
  top: 10px;
  left: 10px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.menu-content.show .close-button:hover {
  opacity: 1;
}
